body {
    font-family: Verdana, Geneva, sans-serif;
    color: #202020;
}

.topLeft {
    top: 0;
    left: 0;
}

.topRight {
    top: 0;
    right: 0;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.full {
    height: 100%;
    width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

h1 {
    font-size: 200px;
}

h2, small {
    font-size: 50px;
}

.noMargin {
    margin: 0;
}

.withMargin {
    margin: 20px;
}

@media only screen and (max-width: 750px) {
    h2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 650px) {
    h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    h2 {
        font-size: 20px;
    }
}
